@font-face {
    font-family: 'Bickham script one';
    src: url('/assets/bickham-script-one.woff');
}

.main-section {
    background: #EEEDEC;
}

.background {
    background: #ffffff;
    margin: 0px 214px;
    width: 1429px;
}

.banner {
    padding: 11px 135px 110px 112px;
}

.banner__content {
    /* height: 741px;
    width: 1245px; */
    box-sizing: border-box;
    position: relative;
    border-radius: 14px;
    padding: 496px 385px 30px 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
}

.banner__text {
    font-family: Copperplate;
    font-size: 29px;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-align: center;
}

.banner__btn {
    padding: 12px 40px;
    background-color: #D0BB9A;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-family: Copperplate;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.title-main {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    line-height: normal;
    font-weight: 400;
    color: #666D7D;
    text-decoration: none;
}

.title-group {
    display: flex;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 88px;
    gap: 27px;
}

.divider__second {
    height: 44px;
    width: 930px;
    background: linear-gradient(90deg, #4C5467 0%, #ffffff 97.04%);
    border-radius: 7px;
}

.rec__visible {
    display: flex;
    flex-direction: row;
}

.rec__flex {
    display: flex;
    flex-direction: row;
}

.rec__item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rec__text {
    color: #332E2E;
    font-family: Copperplate;
    font-size: 21px;
    line-height: normal;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 31px;
    text-align: center;
}

.rec__btn {
    border: 1px solid #272727;
    font-family: Copperplate;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 37px;
    border-radius: 531px;
    background: none;
}

.popular__item {
    text-decoration: none;
}

a {
    color: inherit;
    /* Используйте цвет текста родительского элемента */
    text-decoration: none;
    /* Убираем подчеркивание */
    cursor: crosshair;
}

/* Если вы хотите изменить цвет ссылки при наведении */
a:hover {
    color: inherit;
    /* Используйте цвет текста родительского элемента */
}
